services:
 catalogdb:
  image: postgres

 basketdb:
  image: postgres
  
 distributedcache:
  image: redis
 
 orderdb:
  image: mcr.microsoft.com/mssql/server

 catalogapi:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog2/CatalogAPI/Dockerfile

 basketapi:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket2/BasketAPI/Dockerfile

 discount.grpc:
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: Services/Discount2/Discount.GRPC/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:


